*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --main-color: #3E515A;
    --hover-color: #4BA7CF;
    --white-color: #FFFFFF;
    --font-arial-caps: "BPG Arial Caps", sans-serif;
    --font-arial:"BPG Arial", sans-serif;
    --font-mtavruli:"BPG ExtraSquare Mtavruli", sans-serif;
}

html, body{
  padding: 0;
  margin: 0;
  font-size: 18px;
}


.fukuyama_main{
  padding-bottom: 200px
}

.wrapper{
  max-width: 1860px;
  padding-right: 30px;
  padding-left: 30px;
  margin: auto;
}

.fukuyama_top_navbar{
  background-color: rgba(62, 81, 90, 0.86);
  color: var(--white-color);
  font-family: var(--font-mtavruli);
  height: 100px;
  position: relative;
  z-index: 2;
}

.navbar_wrapper{
  max-width: 1860px;
  margin: auto;
  padding: 0 30px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav_list{
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav_list > li{
  height: 100%;
}

.nav_list>li>a:hover{
  transform: scale(.95);
  transition: .1s ease;
  color: var(--hover-color);
}

.fukuyama_top_navbar a{
  text-decoration: none;
  padding: 0 15px;
  height: 100%;
  color: var(--white-color);
  font-family: var(--font-mtavruli);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s ease;
}

.subnav{
  position: relative;
}

.subnav::before{
  content: url('../images/sub_nav_icon.svg');
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: .6s ease;
}

.subnav:hover::before{
  content: url('../images/sub_nav_icon_hover.svg');
  transition: all 0.5s ease;
}

.subnav_list{
  list-style-type: none;
  visibility: hidden;
  min-width: 260px;
  position: absolute;
  background-color: rgba(62, 81, 90, 0.86);
  transform: translate(-50%);
  left: 50%;
  z-index: 3;
  height: 0;
  text-align: center;
  overflow: hidden;
  padding: 0 10px;
  transition: .6s ease;
}

.subnav_list li a{
  visibility: hidden;
}

.subnav_list li:not(:last-child){
  padding-bottom: 25px;
}

.subnav:hover .subnav_list{
  visibility: visible;
  padding: 40px 10px;
  height: auto;
  transition: .6s ease;
}

.subnav:hover .subnav_list li a{
  visibility: visible;
  transition-delay: .3s;
}

.subnav_list a:hover{
  color: var(--hover-color);
}

.language_switch{
  font-size: 20px;
  display: flex;
  align-items: center;
}

.language_switch span{
  cursor: pointer;
  margin-left: 15px;
}

.switch_line{
  transition: .6s ease;
}

.language_switch:hover .switch_line{
  transform: rotate(180deg);
  transition: .6s ease;
}

.heading_slide{
  text-align: center;
}

.heading_slide_wrapper{
  position: relative;
  top: -100px;
  z-index: 1;
}

.heading_slide_img{
 width: 100%;
}

.heading_slide_description{
  font-family: var(--font-mtavruli);
  max-width: 1000px;
  margin: auto;
  padding:0 20px;
}

.heading_slide_description h3{
  font-size: 30px;
  color: var(--main-color);
  line-height: 37px;
}

.read_more_bg_blue{
  background-color: #4BA7CF;
  color: var(--white-color);
  border: 1px solid #4BA7CF;
  min-width: 340px;
  height:70px;
  display: inline-block;
  border-radius: 70px;
  text-align: center;
}

.read_more_bg_blue a{
  font-family: var(--font-mtavruli);
  color: var(--white-color);
  font-size: 20px;
  text-decoration: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.read_more_bg_blue img{
  margin-left: 8px;
}

.read_more_bg_blue:hover{
  background-color: #3E8FB2;
  border: 1px solid #3C89AB;
}

.content_container{
  max-width: 1550px;
  margin: auto;
  padding:125px 30px;
  font-family:var(--font-mtavruli);
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.fukuyama_news{
  background: url('../images/fukuyama_bg_light_1.svg') no-repeat;
  background-size: cover;
}

.title_wrapper{
  font-family: var(--font-mtavruli);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.content_title{
  font-size: 40px;
  margin: 0;
  font-family: var(--font-mtavruli);
}

.title_wrapper a{
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.see_all_dark{
  color: var(--main-color);
  font-weight: 600;
}

.see_all_light{
  color: var(--white-color);
}

.see_all_dark::after{
    content: url('../images/arrow_dark.svg');
    margin-left: 10px;
}

.see_all_light::after{
  content: url('../images/arrow_light.svg');
  margin-left: 10px;
}

.title_wrapper a:hover{
  color: var(--hover-color);
}

.title_wrapper a:hover.see_all_light::after {
  content: url('../images/arrow_light-blue.svg');
}

.title_wrapper a:hover.see_all_dark::after {
  content: url('../images/arrow_light-blue.svg');
}

.fukuyama_news .content_title{
  color: var(--main-color);
}

.fukuyama_news .news_item{
  width: calc(33.33% - 20px);
}

.news_item{
  overflow: hidden;
}

.news_img{
  position: relative;
  overflow: hidden;
  height: 340px;
}

.news_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: .6s ease;
}

.news_item h3{
  color: var(--main-color);
  font-size: 24px;
  text-align: center;
  margin: 45px auto;
  overflow: hidden;
}

.title_cut{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news_more span{
  color: #4BA7CF;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(62, 81, 90, 0.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .6s ease;
  opacity: .5;
}

.overlay span::before{
  content: url('../images/news_more_icon.svg');
  margin-right: 5px;
}

.news_item:hover .overlay {
  transform: scale(1);
  opacity: 1;
}

.news_item::after{
  content: " ";
  display: block;
  height: 5px;
  width: 250px;
  background-color: var(--hover-color);
  margin:auto;
  transition: .6s;
  border-radius: 7px;
}


.news_item:hover::after{
  transform: scale(0);
  transition: .6s ease;
}


.news_item:hover.news_item h3{
  color: rgba(54, 79, 90, 0.51);
  transition: .6s ease;
}

.news_item:hover .news_img img{
  transform: scale(1.1);
}

.fukuyama_journal{
  background-color: var(--main-color);
}

.fukuyama_journal .content_title{
  color: var(--hover-color);
}

.fukuyama_journal .journal_item{
  overflow: hidden;
  width: calc(25% - 22.5px);
  position: relative;
}

.journal_img{
  width: 100%;
  height: 515px;
}

.journal_img img{
  width: 100%;
  border-radius: 8px;
  transition: .6s ease;
}

.journal_item:hover .journal_img img{
  transform: scale(1.5);
}

.journal_info{
  position: absolute;
  display: flex;
  background-color: rgba(62, 81, 90, 0.9);
  height: 25%;
  width: 100%;
  color: var(--white-color);
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  transition: .6s ease;
}

.journal_info h3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: normal;
}

.journal_item:hover .journal_info{
  height: 100%;
  color: var(--hover-color);
  transition: .6s ease;
}

.journal_item:hover .journal_info h3::after{
  content: url('../images/arrow_circle.svg');
  margin-top: 25px;
}


.fukuyama_activities_homepage{
  background: url('../images/fukuyama_bg_light.svg') no-repeat;
  background-size: cover;
}

.fukuyama_activities_homepage .content_title{
  color: var(--main-color);
}

.fukuyama_activities_homepage .activities_item{
  width: calc(50% - 15px);
}

.activities_item{
  padding: 25px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 2px var(--main-color);
  border-radius: 8px;
  text-align: center;
}

.activities_date{
  color: var(--hover-color);
  font-family: var(--font-mtavruli);
  font-size: 20px;
}

.activities_date::before{
  content: url('../images/clockwise_icon.svg');
  vertical-align: middle;
  margin-right: 10px;
}

.activities_item:hover .activities_date::before{
  content: url('../images/clockwise_icon_white.svg');
}

.activities_item h3{
  color: var(--white-color);
  font-family: var(--font-arial-caps);
  font-size: 18px;
  font-weight: normal;
}

.details_link{
  font-family: var(--font-mtavruli);
  text-decoration: none;
  color: var(--hover-color);
  font-size: 18px;
}

.details_link::after{
  content: url('../images/detail_arrow_blue.svg');
  vertical-align: top;
  margin-left: 10px;
}

.activities_item:hover .details_link::after{
  content: url('../images/detail_arrow_white.svg');
}

.activities_item:hover{
  background-color: var(--hover-color);
  color: var(--white-color);
}

.activities_item:hover .details_link{
  color: var(--white-color);
}

.activities_item:hover .activities_date{
  color: var(--white-color);
}

.fukuyama_club_homepage .content_title{
  color: var(--main-color);
}

.fukuyama_club_homepage .club_item{
    width: calc(50% - 15px);
}

.club_item{
  padding-bottom: 200px;
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 1px 3px #00000029;
}

.club_img{
  overflow: hidden;
  border-radius: 8px;
}

.club_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.club_info{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 8px 8px;
  padding: 45px 10px 10px;
  background-color: var(--white-color);
  transition: height .6s ease;
}

.club_item:hover .club_info{
  height: 100%;
  background-color: var(--main-color);
  justify-content: center;
  border-radius: 8px;
  transition: height .6s ease;
}

.club_date{
  font-family: var(--font-mtavruli);
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 15px;
}

.club_date::before{
  content: url('../images/clockwise_dark.svg');
  vertical-align: middle;
  margin-right: 10px;
}

.club_item:hover .club_date::before{
  content: url('../images/clockwise_icon.svg');
}

.club_item:hover .club_date{
  color: var(--hover-color);
}

.club_item h3{
  font-family: var(--font-arial-caps);
  margin: 0;
  font-size: 18px;
  color: var(--main-color);
  line-height: 1.35;
}

.club_item:hover .club_info h3{
  color: var(--hover-color);
  margin-bottom: 35px;
}

.fukuyama_club_homepage .read_more_bg_blue{
  display: none;
}

.club_item:hover .read_more_bg_blue{
  display: block;
}

.fukuyama_publishing{
  background-color: var(--main-color);
}

.fukuyama_publishing .title_wrapper{
  margin-bottom: 35px;
}

.fukuyama_publishing .content_title{
  color: var(--hover-color);
}

.fukuyama_publishing .publishing_item{
  width: calc(33.33% - 20px);
}

.publishing_item{
  height: 715px;
}

.publishing_wrapper{
  font-family: var(--font-mtavruli);
  position: relative;
  transition: .6s ease;
  bottom: 0;
  background: linear-gradient(0deg, rgba(49,64,72,1) 0%, rgba(86,158,172,1) 50%, rgba(44,58,64,1) 100%);
  background-size: cover;
  border-radius: 8px;
  height: 715px;
}

.publishing_item:hover .publishing_wrapper{
  height: 600px;
  bottom: -115px;
  transition: .6s ease;
}

.publishing_content{
  height: 615px;
  padding: 0 25px;
  position: absolute;
  top:50px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  overflow: hidden;
  transition: .6s ease;
}

.publishing_item:hover .publishing_content{
  top: -115px;
  height: 600px;
  transition: .6s ease;
}

.publishing_img{
  height: 460px;
  width: 350px;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 20px;
}

.publishing_img img{
  width: 100%;
  height: 100%;
}

.author{
  font-size: 20px;
  color: var(--hover-color);
}

.publishing_item h3{
  font-size: 20px;
  color: var(--white-color);
  font-weight: normal;
  overflow: hidden;
  margin: 0;
}

.publishing_more{
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.publishing_item:hover .publishing_more{
  visibility: visible;
}

.fukuyama_video_gallery{
  background: url('../images/fukuyama_bg_light.svg') no-repeat;
  background-size: cover;
}

.fukuyama_video_gallery .gallery_item{
  width: calc(33.33% - 20px);
}

.fukuyama_video_gallery .content_title{
  color: var(--main-color);
}

.gallery_item{
  text-align: center;
  overflow: hidden;
  font-family: var(--font-arial-caps);
}

.gallery_item h3{
  color: var(--main-color);
  font-size: 18px;
}

.gallery_img_wrapper{
  display: block;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.gallery_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s ease;
}

.overlay_bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}


.gallery_item:hover .gallery_img{
  transform: scale(1.2);
  transition: .6s ease;
}

.gallery_item:hover .overlay_bg{
  background-color: rgba(62, 81, 90, 0.5);
}

.video_link::after{
  content: url('../images/Asset_1.svg');
  position: absolute;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_link{
  height: 300px;
}


.gallery_item:hover .video_link::after{
  content: url('../images/Asset_2.svg');
}

.fukuyama_photo_gallery .content_title{
  color: var(--main-color);
}

.fukuyama_photo_gallery .gallery_item{
  width: calc(25% - 22.5px);
}

.photo_link{
  height: 345px;
}

.gallery_item:hover .photo_link::after{
  content: url('../images/photo_zoom.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery_item:hover .gallery_info{
  color: var(--hover-color);
}

.fukuyama_publication{
  background: url('../images/fukuyama_bg_light_1.svg') no-repeat;
  background-size: cover;
}

.fukuyama_publication .content_title{
  color: var(--main-color);
}

.fukuyama_publication .publication_item{
  width: calc(25% - 22.5px);
}
 
.publication_item{
  text-align: center;
}

.publication_img{
  height: 515px;
  display: block;
  padding: 15px;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 30px;
  transition: .6s ease;
}

.publication_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publication_item h3{
  font-size: 20px;
  color: var(--main-color);
  margin: 0;
  padding: 0 10px;
}

.publication_item:hover{
  opacity: 0.8;
}

.publication_item:hover .publication_img{
  padding: 0;
  transition: .6s ease;
}


.fukuyama_bottom_navbar{
  padding: 180px 30px 125px;
  background-color: var(--main-color);
  position: relative;
}

.bottom_navbar_logo{
  position: absolute;
  top: -150px;
  left: calc(50% - 260px);
}

.fukuyama_bottom_navbar a{
  text-decoration: none;
  color: var(--white-color);
}

.fukuyama_bottom_navbar ul{
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.bottom_navbar{
  margin-bottom: 35px;
}

.bottom_navbar a{
  font-family: var(--font-mtavruli);
  font-size: 18px;
  display: inline-block;
  padding: 0 20px;
}

.fukuyama_social img{
  margin-right: 10px;
}

.fukuyama_social a{
  font-family: var(--font-arial-caps);
  font-size: 18px;
  text-transform: capitalize;
  padding:0 20px;
}


.bottom_navbar>li>a:hover{
  transform: scale(.95);
  transition: .2s ease;
  color: var(--hover-color);
}


/* fukuyama about us page */

.fukuyama_aboutus_main{
  padding: 120px 0 380px;
}

.fukuyama_aboutus{
  max-width: 1215px;
  padding: 0 30px;
  margin: auto;
  color: var(--main-color);
  font-family: var(--font-arial);
}

.fukuyama_aboutus>*:not(:last-child){
  margin-bottom: 40px;
}

.content_title_wrapper{
  text-align: center;
  margin-bottom: 40px;
  font-family: var(--font-mtavruli);
}


.content_subtitle{
  font-size: 22px;
  margin: 40px 0 0;
}

.aboutus_img img{
  width: 100%;
}

.fukuyama_aboutus p{
  margin: 0;
}

/* fukuyama activities page */

.fukuyama_activities_main{
  padding: 120px 0 245px;
  color: var(--main-color);
  font-family: var(--font-arial);
}

.fukuyama_activities{
  max-width: 1550px;
  padding: 0 30px 60px;
  margin: auto;
  text-align: center;
}

.fukuyama_activities p{
  margin: 0;
}

.activities_list_title{
  padding: 25px 50px;
  width: 100%;
  background-color: rgba(75, 167, 207, 0.18);
  font-size: 24px;
  margin: 0 0 30px;
}

.activities_list{
  max-width: 1550px;
  padding: 0 30px;
  margin: auto;
}

.activities_list .content_container{
  padding:0 0 125px;
}

.activities_list .publication_item{
  width: calc(25% - 22.5px);
}

.activities_list .news_item{
  width: calc(33.33% - 20px);
}

.activities_list .gallery_item {
  width: calc(33.33% - 20px);
}

.activities_list .video_item {
  width: calc(25% - 22.5px);
}

/* fukuyama club page */

.fukuyama_club_main{
  padding: 120px 0 290px;
}

.fukuyama_club{
  max-width: 1215px;
  padding: 0 30px;
  margin: auto;
  color: var(--main-color);
  font-family: var(--font-arial);
}

.fukuyama_club>*:not(:last-child){
  margin-bottom: 40px;
}

.club_content p{
  margin: 0;
}

.club_reg{
  border: 1px solid #4BA7CF;
  font-size: 20px;
  font-family: var(--font-mtavruli);
  background-color: var(--hover-color);
  padding: 13px 22px;
  color:var(--white-color);
  display: flex;
  align-items: center;
  min-width: 320px;
  border-radius: 117px;
  margin: 60px auto 0;
  cursor: pointer;
}

.club_reg img{
  margin-right: 40px;
}

.club_reg:hover{
  background-color: #3C89AB;
  transition: .6s ease;
}
